/*
    Reset CSS default values
*/
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}  
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none
}


/* Import font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'VT323', monospace;
}

/* NavBar */
.navbar{
    background-color: rgb(143, 235, 181);
    height: 60px;
    width: 100%;
    margin: 5px;
    padding-left: 50px;
    padding-right: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#logo{
    width: 32px;
}
/* END NavBar */



/* Primary Section*/
.container-primary-section{
    background-color: bisque;
    height: 700px;
    width: 100%;
    margin: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#article-title{
    background-color: rgb(203, 248, 129);
    height: 130px;
    width: 88%;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}

#article-title h1{
    font-size: 30px;
}

#article-title p{
    padding: 8px;
}

.article-primary-section{
    background-color: rgb(90, 199, 126);
    height: 380px;
    width: 40%;
    margin: 10px 50px 40px;


    display: flex;
    justify-content: center;
    align-items: center;
}

#article-left{
    text-align: center;
}

#article-right img{
    width: 240px;
}

#list-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
}

#contatos-item {
    margin-left: 20px;
}
/* End Primary Section*/


/* Corpo Skills */
.container-secundary-section{
    background-color: rgb(233, 167, 207);
    height: 700px;
    width: 100%;
    margin: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

#title{
    height: 30px;
    width: 100%;
    margin: 5px;
}

#title h3{
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

#container-menu{
    text-align: center;

    height: 450px;
    width: 80px;
    margin-bottom: 80px;
}

#container-menu ul li{
    padding: 2px;
    margin: 30px;
}

#logo-list{
    width: 50px;
}

#section-interativo-menu{
    display: block;
    text-align: left;
}

#avatar {
    width: 170px;
    
}
/* Corpo Skills */

/* Corpo Interatividade*/
.container-tercery-section{
    background-color: rgb(228, 154, 85);
    height: 700px;
    width: 100%;
    margin: 5px;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Corpo Interatividade*/



/*Rodapé*/
.footer{
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}