html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}  
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Corpo */
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* NavBar */
.navbar{
    background-color: rgb(177, 210, 211);
    height: 60px;
    width: 100%;
    margin: 5px;
    padding-left: 50px;
    padding-right: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 32px;
}
/* ------------ END NavBar */


/* Corpo Inicial*/

#title-primary{
    background-color: blueviolet;
    height: 150px;
    width: 86%;
    margin: 5px;
}

#title-primary, h1{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}


.section-primary{
    background-color: bisque;
    height: 580px;
    width: 100%;
    margin: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#article-primary{
    background-color: rgb(131, 226, 243);
    height: 300px;
    width: 40%;
    margin: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
}

#article-primary-left, h1{
    text-align: center;
}

#article-primary-left, ul, li {
    display: flex;
    padding: 15px;
    
}

#logo01 {
    width: 240px;
}

/* Corpo interativo */
.section-interativo{
    background-color: rgb(233, 167, 207);
    height: 700px;
    width: 100%;
    margin: 5px;

    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#section-interativo-menu{
    display: block;
    text-align: left;
}


#avatar {
    width: 180px;
}


/*Rodapé*/
.footer{
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}